pdfminer
djangorestframework-jwt
dj-database-url
dj-static
Django
django-heroku
django-rest-framework
django-widget-tweaks
djangorestframework
gunicorn
psycopg2
requests
sqlparse
static3
urllib3
whitenoise
pillow
apscheduler