{% extends "core/base_view.html" %}
{% load static %}
{% block content %}
    {% if user.is_superuser %}
{#        <arquivo-indexado-component></arquivo-indexado-component>#}

{#        <usuario-component></usuario-component>#}
    {% else %}
        <div class="d-flex align-items-center justify-content-center" style="text-align: center; width: 100%; height: 100%">
            <div class="alert alert-danger" role="alert" >
                <h1 class="alert-heading">Acesso negado!</h1>
                <h3>Você será redirecionado para a página inicial em 3 segundos.</h3>
                <hr>
                <h4>Você não possui o cargo de administrador</h4>
                <hr>
                <meta http-equiv="REFRESH" content="3; url={% url 'core:login' %}">
            </div>
        </div>
    {% endif %}
{% endblock %}