{% extends "core/base_login.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
{% if user.is_authenticated %}
<meta http-equiv="REFRESH" content="0;url={% url 'core:home' %}">
{% else %}


<div>
  <img src="{% static 'login/images/favicon.svg'%}"/>
</div>
<div class="container align-items-center justify-content-center" style="height: 100%; width: 50vw;">
    <div class="col-md-7">
      <h3>Login to <strong>Index Files</strong></h3>
      <p class="mb-4">Sistema de busca, leitura e indexação de documentos</p>
      <form class="content-form" method="post">
        {% csrf_token %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-warning">{{ error }}</div>
        {% endfor %}
        <div class="form-group first">
          <label for="{{ form.username.auto_id }}">{{ form.username.label }}</label>
          <input type="text" name="username" class="form-control" placeholder="Informe seu nome de usuário"
            id="username">
          {% for error in form.username.errors %}
          <span class="help-block">{{ error }}</span>
          {% endfor %}
        </div>
        <div class="form-group last mb-3">
          <label for="{{ form.password.auto_id }}">{{ form.password.label }}</label>
          <input type="password" name="password" class="form-control" placeholder="Informe sua senha" id="password">
          {% for error in form.password.errors %}
          <span class="help-block">{{ error }}</span>
          {% endfor %}
        </div>

        <div class="d-flex mb-5 align-items-center">
          <label class="control control--checkbox mb-0"><span class="caption">Lembrar usuário</span>
            <input type="checkbox" checked="checked" />
            <div class="control__indicator"></div>
          </label>
{#          <span class="ml-auto"><a href="#" class="forgot-pass">Forgot Password</a></span>#}
        </div>
        <input type="submit" value="Log In" class="btn btn-block btn-primary">
      </form>
    </div>
  </div>
{% endif %}
{% endblock %}
